@section Scripts
{
    <script>
        $("#uploadEditorImage").change(function () {
        var data = new FormData();
        var files = $("#uploadEditorImage").get(0).files;
        if (files.length > 0) {
            data.append("HelpSectionImages", files[0]);
        }
        $.ajax({
            url: "AddImage",
            type:"POST",
            processData: false,
            contentType: false,
            data: data,
            success: function (response) {
                alert("Image loaded");

            },
            error: function (er) {
                alert(er);
            }

            });
        });
    </script>
}

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 settings-background">

        <input type="file" id="uploadEditorImage" />

         <form>

        <div class="control-group">
            <label class="control-label" for="textinput">Change email</label>
            <div class="controls">
                <input id="textinput" name="textinput" type="text" ng-model="codePost.title" class="form-control">

            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="textinput">Old password</label>
            <div class="controls">
                <input id="textinput" name="textinput" type="text" ng-model="codePost.title" class="form-control">

            </div>
        </div>

            <div class="control-group">
                <label class="control-label" for="textinput">New Password</label>
                <div class="controls">
                    <input id="textinput" name="textinput" type="text" ng-model="codePost.title" class="form-control">

                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="textinput">Description</label>
                <div class="controls">
                    <input id="textinput" name="textinput" type="text" ng-model="codePost.title" class="form-control">

                </div>
            </div>

            <button class="btn btn-success">Save</button>

        </form> 
    </div>

</div>
