
@section Scripts
{
    <script>

</script>
}

<div ng-controller="CodePostController">
    <div class="panel panel-info src_panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            Sort
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="" ng-click="order('date')">Date</a></li>
                            <li><a href="" ng-click="order('user')">User</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-8>
                <div class=" dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Posts
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">15</a></li>
                        <li><a href="#">50</a></li>
                        <li><a href="#">100</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="background-color:#222222">
        <div class="row">

            <div class="col-md-12">

                <div class="panel" infinite-scroll="loadMore()">
                    <div ng-repeat="post in posts" class="panel-body" >

                        <div class="row">
                            <br>
                            <div class="col-md-2 col-sm-3 text-center">
                                <a class="story-title" href="#"><img alt="" src="http://api.randomuser.me/portraits/thumb/men/58.jpg" style="width:80px;height:80px" class="img-circle"></a>
                            </div>
                            <div class="col-md-10 col-sm-9">
                                <h3>{{post.title}}</h3>
                                <div class="row">
                                    <div class="col-xs-9">
                                        <h4><span class="label label-default"> @@ {{post.userName}}</span></h4><h4>
                                            <small  class="text-muted" id="postData" >{{post.content}}<a href="#" class="text-muted"></a></small>
                                        </h4>
                                    </div>
                                </div>
                                <br><button class="btn btn-warning" ng-click="retweet(post.id)">Retweet</button>
                                <button class="btn btn-danger" ng-click="post.newComment =! post.newComment">Reply</button>
                                <button class="btn btn-link"  ng-click="post.showComments =! post.showComments">List Comments </button>
                           
                                 <div class="pull-right vote">
                                    <span class="vote_single"><button ng-click="like(post.id)" class="vote_btn">{{post.liked}}</button> <span class="badge like">{{post.like}}</span></span>
                                    <button ng-click="hate(post.id)" class="vote_btn">{{post.hated}}</button> <span class="badge hate">{{post.hate}}</span>
                                </div>
                                </div>

                            <div ng-show="post.newComment" class="col-md-8 col-md-offset-2">

                                        <div>
                                            <h4 class="modal-title">Nobody really wants your comments but go ahead</h4>
                                        </div>
                                        <div>
                                            <textarea id="textarea" name="textarea" class="form-control" ng-model="commentText"> </textarea>
                                        </div>
                                        <div>
                                            <button ng-click="reply(post.id, commentText)" type="button" class="btn btn-default" >Add Comment</button>
                                        </div>
                            </div>

                            <div class="col-md-8 col-md-offset-2" ng-show="post.showComments">
                                <div ng-repeat="comment in post.commentList">
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            <label>Replay by: {{comment.userName}}</label>
                                        </div>
                                        <div class="panel-body">
                                            <label>{{comment.content}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                           
                        
                        
                        </div>
                        <hr>
                    </div>

                </div>
                    
              


            </div><!--/col-12-->
        </div>
    </div>
</div>
